.nav_btn {
    -fx-background-color:#4169E1;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
    -fx-background-radius:5;
    -fx-pref-width:404px;
    -fx-pref-height:40px;
}
.nav_btn2{
    -fx-background-color:#ffffff;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#808080;
    -fx-border-color:#808080;
    -fx-alignment:CENTER;
    -fx-background-radius:5;
    -fx-pref-width:404x;
    -fx-pref-height:40px;
}

.anchor_pane {
    -fx-background-color:#ffffff;
    -fx-alignment:CENTER;

}

.password-toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #1E90FF;
    -fx-border: none;
}


.title{
    -fx-font-size: 20;
}