/* Stylesheet.css */
.separator{
    -fx-background-color:  #3567a2;
}
.job-listing {
    -fx-padding: 10px; /* Add some padding to separate content from the background */
    -fx-background-color: white;
}
.button {
    -fx-background-color: #3567a2;
    -fx-text-fill: white;
}

.job-title-label{
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-background-color: lightblue;
}

.error-label{
    -fx-text-fill: red;
}


